<div id="<%= dom_id intervencija %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Datum:</strong>
    <%= intervencija.datum %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Lokacija:</strong>
    <%= intervencija.lokacija %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tip:</strong>
    <%= intervencija.tip %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Kratek opis:</strong>
    <%= intervencija.kratek_opis %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Podrobnejsi opis:</strong>
    <%= intervencija.podrobnejsi_opis %>
  </div>
</div>
