<h1 class="font-bold text-4xl">Showing intervencija</h1>

<div class="intervencija">
  <h2 class="text-2xl font-bold"><%= @intervencija.naslov %></h2>
  <p class="mt-2"><%= simple_format(@intervencija.opis) %></p>
  <p class="text-sm text-gray-600"><%= @intervencija.datum.strftime("%d.%m.%Y") if @intervencija.datum %></p>
</div>

<%= link_to "Edit this intervencija", edit_intervencija_path(@intervencija), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
<%= link_to "Back to intervencijas", intervencijas_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
